.minha-foto {
    max-width: 400px;
    align-items: center;
}

.sobre-mim {
    background-color: rgb(153, 223, 200);
    margin: 6px;
    display: flex;
}    

.texto {
    font-size: 30px;
    font-family: sans-serif;
    margin: 6px;
}

.fotos{
    display: flex;
    margin: 6px;
    gap: .5rem;
}
